body {
    // --gap-x: #{rem(40px)};
    --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
    // --header-h: #{rem(80px)};
    // --container-w: #{rem(1840px)};
  
    --white: #ffffff;
    --black: #000000;
    --black-08: #080808;
    --black-08-20: rgba(8, 8, 8, 0.2);
    --black-08-50: rgba(8, 8, 8, 0.5);
    --black-08-60: rgba(8, 8, 8, 0.6);
    --tan: #f0f1ec;
    --be: #f9f5f0;
    --coral: #a37c75;
    --coral-20: rgba(163, 124, 117, 0.2);
  }
