@use 'sass:math' as math;

$grid-gutter-width: 40px;
$black-primary: #000000;
$dark-primary: #0f1b01;
$white-primary: #ffffff;
$green-primary: #0ac681;
$orange-primary: #ff7e21;

$gray-primary: #f6f6f6;
$gray-1: #f7f7f7;
$gray-2: #ececec;
$gray-3: #d9d9d9;
$gray-4: #898989;
$gray-5: #f4f4f4;

$red-primary: #ff4747;

$breakpoint-xs: 0;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;
$breakpoint-xxl: 1660px;
$breakpoint-xxxl: 1920px;

$colors: (
  'black-primary': $black-primary,
  'dark-primary': $dark-primary,
  'white-primary': $white-primary,
  'green-primary': $green-primary,
  'orange-primary': $orange-primary,
  'red-primary': $red-primary,
  'gray-primary': $gray-primary,
  'gray-1': $gray-1,
  'gray-2': $gray-2,
  'gray-3': $gray-3,
  'gray-4': $gray-4,
);

$theme-colors: (
  'black-primary': $black-primary,
  'dark-primary': $dark-primary,
  'white-primary': $white-primary,
  'green-primary': $green-primary,
  'orange-primary': $orange-primary,
  'red-primary': $red-primary,
  'gray-primary': $gray-primary,
  'gray-1': $gray-1,
  'gray-2': $gray-2,
  'gray-3': $gray-3,
  'gray-4': $gray-4,
);

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1660px,
  xxxl: 1920px,
);

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 100%,
  xxxl: 100%,
);

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: rem(10px),
  1_16: rem(16px),
  2: rem(30px),
  3: rem(40px),
  4: rem(50px),
  5: rem(60px),
  6: rem(80px),
  7: rem(120px),
  9: rem(160px),
  10: rem(300px),
);

$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
$easeInOutCirc: cubic-bezier(0.85, 0, 0.15, 1);
