// @font-face {
//     font-family: 'FrieghtBigPro';
//     src: url(C:\Users\Admin\Downloads\freightbigpro);
//   }


.text{
    font-family: FrieghtBigPro;
    color: white;
}
.num{
    color:white;
    top:673px;
}

